<table class="table table-hover no-more-tables">
  <thead>
  <tr>
    <th>no</th>
    <th>REQTS</th>
    <th>title</th>
    <th>assignee</th>
    <th>reporter</th>
    <th>status</th>
    <th>created_at</th>
  </tr>
  </thead>
  <tbody>
  <% @jira.each do |item| %>
    <tr class="linkable" data-href="https://jira.nbt.com/browse/<%= item['num'].to_s %>" >
      <td><%= item['id'] %></td>
      <td><%= item['num'] %></td>
      <td><%= item['title'] %></td>
      <td><%= item['assignee'] %></td>
      <td><%= item['reporter'] %></td>
      <td><%= item['status'] %></td>
      <td><%= item['created'] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div style="margin-top: 8px; text-align: center; ">
      <%= paginate @jira %>
    </div>
  </div>
</div>

<script>

    $(document).ready(function(){
        $('tr.linkable').click( function() {
            var target_url = $(this).data('href');
            if (target_url != null) {
                window.location = target_url;
            }
            return false;
        });
    });
</script>